<!DOCTYPE html>
<html lang="lt">

<head>
  <meta charset="UTF-8" />
  <title>{{ page.title }} – {{ site.title }}</title>
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <link rel="icon" type="image/x-icon" href="{{ '/assets/img/favicon.ico' | relative_url }}">
  <script src="/assets/js/tailwind-3-4-17.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
  <link rel="stylesheet" href="{{ '/assets/css/styles.css' | relative_url }}" />
</head>

<body id="main-body" class="bg-light text-gray-800">
  {% include header.html %}

  <main class="w-full">
    {{ content }}
  </main>

  {% include footer.html %}
  {% include cookies_banner.html %}
  {% include discount_modal.html id="discount" %}

  <!-- Firebase SDK (compat keeps your current non-module setup working) -->
  <script defer src="https://www.gstatic.com/firebasejs/12.2.1/firebase-app-compat.js"></script>
  <script defer src="https://www.gstatic.com/firebasejs/12.2.1/firebase-firestore-compat.js"></script>

  <script defer src="{{ '/assets/js/firebase-config.js' | relative_url }}"></script>
  <script defer src="{{ '/assets/js/config.js' | relative_url }}"></script>
  <script defer src="{{ '/assets/js/main.js' | relative_url }}"></script>
</body>

</html>